body
{
	background-color: #F0F0F0;
	padding-left: 9%;
	padding-right: 9%;
}

h1
{
	font-family: Oswald;
}

#header
{
	box-shadow: 0px 3px 5px #BDBDBD;
	background-color: #E0E0E0;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

#header>h1
{
	background-color: #FFFFFF;
	box-shadow: 0px 3px 5px #BDBDBD;
	max-width: 200px;
	padding: 20px;
	padding-left: 40px;
}

#header>#links
{
	font-family: Lobster;
	background-color: #FAFAFA;
	box-shadow: 0px 3px 5px #BDBDBD;
	max-width: 2000px;
	padding: 20px;
	float: right;
	height: 77px;
	position: relative;
	top: -109px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#header>#links>a
{
	text-decoration: none;
	color: #0A0A0A;
	margin-left: 10px;
	margin-right: 10px;
}
#header>#links>a:hover
{
	text-decoration: none;
	color: #AFAFAF;
}
#content
{
	box-shadow: 0px 3px 5px #BDBDBD;
	background-color: #EAEAEA;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;
	font-family: Roboto;
}
#postcontent
{
	box-shadow: 0px 3px 5px #BDBDBD;
	background-color: #FFFFFF;
	padding: 20px;
	padding-right: 40px;
	padding-left: 40px;
	font-family: Roboto;
}

#posts
{	
    border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
}

td
{
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
	margin: 10px;
	border: 1px solid black;
}

th
{
	width: 20%;
	padding: 5px;
	background-color: #D0D0D0;
	margin: 10px;
	border: 1px solid black;
}